swagger: "2.0"
info:
  description: "API Ristorante"
  version: "0.0.1"
  title: "API Ristorante"
  
host: "tw.cs.unibo.it"
basePath: "/v1"
paths:
  # elenco menù
  /menu/:
    get:
      responses:
        200:
          description: "OK"
          # mi restituisce una collezione di menù (un array -> vedi definizione schema)
          schema:
            type: array
            items: 
              $ref: "#/definitions/Menu"
        400:
          description: "ERROR"

  # informazioni sul menu
  /menu/{idMenu}:
    get:
      # chiarire questa cosa che non ho capito (parameters, cos'è idMenu...)
      parameters:
      - name: idMenu
        in: path
        type: integer
        format: int64
        required: true
      responses:
        200:
          description: "OK"
          # mi restituisce un oggetto menu
          schema:
              $ref: "#/definitions/Menu"
        400:
          description: "ERROR"
  # elenco piatti in un menù
  /menu/{idMenu}/piatti/:
    get:
      # chiarire questa cosa che non ho capito (parameters, cos'è idMenu...)
      parameters:
      - name: idMenu
        in: path
        type: integer
        format: int64
        required: true
      responses:
        200:
          description: "OK"
          # mi restituisce un vettore di piatti
          schema:
            type: array
            items: 
              $ref: "#/definitions/Piatto"
        400:
          description: "ERROR"
    # aggiungi piatto al menù
    post:
      parameters:
      - name: idMenu
        in: path
        type: integer
        format: int64
        required: true
      - name: nuovoPiatto
        # passo l'oggetto nel body
        in: body 
        schema:
          $ref: "#/definitions/Piatto"
        required: true
      responses:
        200:
          description: "OK"
          # mi restituisce un vettore di piatti
          schema:
            type: array
            items: 
              $ref: "#/definitions/Piatto"
        400:
          description: "ERROR"
    # cancellazione piatti in un menù
    delete:
      parameters:
      - name: idMenu
        in: path
        type: integer
        format: int64
        required: true
      responses:
        200:
          description: "OK"
        400:
          description: "ERROR"
      


schemes:
- "http"

definitions:
# definito dall'utente
  Menu:
    type: object
    # elenco proprietà obbligatorie (tutti gli attributi qui sotto elencati)
    required: 
      - id
      - title
    properties:
      id:
        type: integer
        format: int64
      title:
        type: string
  Piatto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
        