img {
    width: 100%;
}

header {
    background-color: #ddedf4;
}

.navbar {
    padding: 0;
}

.nav-link {
    color: #00195c !important;

}

.active-navlink {
    background-color: #dc254f !important;
    color: white !important;
}

.cards-container {
    background-color: #ddedf4;
}

.card {
    background-color: #00195c;
    padding: 1rem;
    margin: 1rem;
}

.card-title {
    color: #eda000;
    font-weight: bold;
}

.card-text {
    color: white;
}

.btn {
    color: #00195c;
    background-color: #fff;
    font-weight: bold;
}